.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F0F0F1; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 50px;
}

/* The navigation menu links */
.sidenav a {
  padding: 14px 8px 6px 16px;
  text-decoration: none;
  font-size: 19px;
  color: #010001;
  display: block;
}

.header {
  z-index: 1;
  background-color: #424243 !important;
  padding-left: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selectedTab {
  font-weight: bold;
}

.myTable {
  margin-left: 7rem;
  width: auto;
}

.nav-right {
  justify-content: space-between;
}

.nav-item-right {
  margin-right: 2rem;
}

.btn-zindex {
  z-index: 1;
  position: absolute;
  right: 50px;
  top: 75px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  /* line-height: 0; */
  padding: 0 0 0 0 !important;
}

.drawar {
  height: 100%; 
  width: 0px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #6A6d7e;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 50px;
  font-weight: bold;
}

.flexForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}

.flexbtn {
  align-self: flex-end;
  margin-top: 20px;
}

.fullWidthInput {
  width: 100%;
}